<!doctype html>
<html>
<head>
	<title>Jawbone UP API with Node Demo</title>
	<style type="text/css">
		body {
			background: url(/images/bg-space-purple.jpg) top center #000 no-repeat;
			background-size: cover;
			font-family: Arial, sans-serif;
			text-align: center;
		}
		h1 {
			color: #fff;
			font-size: 36px;
		}
		.btn {
			background-color: #9D65FF;
			color: #fff;
			display: block;
			font-size: 24px;
			margin: 30px auto;
			padding: 10px;
			text-decoration: none;
			width: 40%;
		}
		.btn:hover {
			background-color: #C893FF;
		}
		p {
			color: #fff;
			display: block;
			margin: 80px auto 40px;
			width: 50%;
		}
	</style>
</head>
<body>
	<h1>Jawbone UP Sleep Data</h1>
	<p>Log in to see your latest sleep data.</p>
	<a href="/login/jawbone" class="btn">Login</a>
</body>
</html>
